<h1>Rescue Mission</h1>
<h3>Definitely not a stack overflow clone!</h3>

<ul>
  <% @questions.each do |question| %>
    <li><%= link_to "#{question.title}", question_path(question) %></li>
  <% end %>
</ul>
